<%= form_with(model: message, local: false) do |f| %>
  <%= f.hidden_field :room_id, value: room.id %>

  <div class="input-group">
    <%= f.text_area :body, placeholder: "Type your message...", autocomplete: "off", class: "form-control" %>

    <div class="input-group-append">
      <%= f.submit "Send Message", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
