<div class="message mb-3 me">
  <div class="content-container">
    <div class="content">
      <span><%= message.body %></span>
    </div>

    <div class="sender text-success">
      <%= message.user.user_name %>
    </div>
  </div>
</div>
