<div class="message mb-3">
  <div class="content-container">
    <div class="content">
      <span><%= message.body %></span>
    </div>

    <div class="sender text-secondary">
      <span class="js-user-<%= message.user_id %>-status activity-status online">•</span>
      <%= message.user.user_name %>
    </div>
  </div>
</div>
