body {
  ::-webkit-scrollbar { display: none; }
  -ms-overflow-style: none;
  overflow-y: hidden;
  padding: 1rem;
}

.chat-room {
  height: calc(100vh - 2rem);

  @keyframes smooth-appear {
    to { opacity: 1; }
  }

  .messages-area {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 200px;
    opacity: 0;
    animation: smooth-appear 2s ease forwards;
  }

  .navbar {
    margin-left: -15px;
    width: calc(100% + 30px);
    border-bottom: 1px solid #eeeeee;
  }

  .message {
    min-height: 59px;

    .content-container {
      display: inline-block;

      .content {
        padding: 8px 16px;
        background-color: #f3f3f3;
        border-radius: 20px;
      }

      .sender {
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    &.me {
      .content-container {
        float: right;

        .content {
          color: white;
          background-color: blueviolet;
        }

        .sender {
          float: right;
          margin-right: 10px;
        }
      }
    }
  }

  .chat-box {
    position: absolute;
    bottom: -16px;
    width: 100%;
    padding: 20px;
    margin-left: -15px;
    background-color: #fff;
    border-top: 1px solid #eeeeee;

    textarea { resize: none; }
  }
}

.room-link {
  &:hover { text-decoration: none; }

  .room-card {
    transition: background-color 0.3s ease;
    border-radius: 20px;

    &:hover { background-color: #eeeeee; }

    &.active {
      background-color: #000;

      .room-name, .room-members { color: #fff; }
    }

    .room-name, .room-members { color: #000; }
  }
}

.rooms-sidebar { border-right: 1px solid #eeeeee; }

.activity-status {
  color: #e0e0e0;
  font-size: 21px;
  float: left;
  margin-top: -6px;
  margin-right: 4px;

  &.online { color: #ff0000; }
}
